---
---
<div class="nav-wrapper">
    <ul>
        <li><strong><a class="nav-link" href="/about">About</a></strong></li>
        <li><strong><a class="nav-link" href="/research">Research</a></strong></li>
        <li><strong><a class="nav-link" href="/teaching">Teaching</a></strong></li>
        <li><strong><a class="nav-link" href="awards">Awards & Honors</a></strong></li>
        <li><strong><a class="nav-link" href="./public/CV.pdf">CV</a></strong></li>
        <li><strong><a class="nav-link" href="/r-blogs">R with Alex</a></strong></li>
        <li><strong><a class="nav-link" href="/books">Recommended Books</a></strong></li>
        <li><strong><a class="nav-link" href="/blogs">Blogs</a></strong></li>
    </ul>
</div>
<div class="mobile-wrapper" id="mobileWrapper">
    <button class="nav-button" id="navButton"><i class="fas fa-lg fa-bars"></i></button>
    <div class="mobile-dropdown-wrapper" id="mobileDropdownWrapper">
        <ul>
            <li><strong><a class="nav-link" href="/about">About</a></strong></li>
            <li><strong><a class="nav-link" href="/research">Research</a></strong></li>
            <li><strong><a class="nav-link" href="/teaching">Teaching</a></strong></li>
            <li><strong><a class="nav-link" href="awards">Awards & Honors</a></strong></li>
            <li><strong><a class="nav-link" href="./public/CV.pdf">CV</a></strong></li>
            <li><strong><a class="nav-link" href="/r-blogs">R with Alex</a></strong></li>
            <li><strong><a class="nav-link" href="/books">Recommended Books</a></strong></li>
            <li><strong><a class="nav-link" href="/blogs">Blogs</a></strong></li>
        </ul>
    </div>
</div>

<script>
    document.getElementById('navButton').addEventListener('click', function() {
        let dropdown = document.getElementById('mobileDropdownWrapper');
        dropdown.classList.toggle('open');

        let mobilewrapper = document.getElementById('mobileWrapper');
        mobilewrapper.classList.toggle('open');

        let navbutton = document.getElementById('navButton');
        navbutton.innerHTML =  navbutton.innerHTML == "<i class=\"fas fa-lg fa-xmark\"></i>" ?  "<i class=\"fas fa-lg fa-bars\"></i>" : "<i class=\"fas fa-lg fa-xmark\"></i>";
    });
</script>

<script>
    let prevScrollPos = window.scrollY;
    window.addEventListener('scroll', function() {
        const currentScrollPos = window.scrollY;
        let mobileWrapper = document.getElementById('mobileWrapper');
        if (prevScrollPos > currentScrollPos) {
            mobileWrapper.classList.remove('hide');
        } else {
            !(mobileWrapper.classList.contains('open')) && mobileWrapper.classList.add('hide');
        }
        prevScrollPos = currentScrollPos;
    });
</script>

<style>
    .nav-wrapper {
        margin-top: 1.5em;
        margin-bottom: 1em;
        padding: 0;
        text-align: center;
    }
    a {
        display: inline-block;
        color: #60c17d;
        text-decoration: none;
    }
    a::after {
        margin-top: 4px;
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: #60c17d;
        transition: width 0.25s;
    }

    a:hover::after {
        width: 100%;
    }

    ul {
        display: table;
        margin: auto;
        padding: 0;
    }

    li {
        list-style-type: none;
        display: inline-block;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }

    li + li:before {
        content: "●";
        padding: 16px;
    }

    .mobile-wrapper {
        display: none;
        background-color: #fcfbf9;
    }

    .mobile-dropdown-wrapper {
        opacity: 0;
        height: 0px;
        overflow: hidden;
    }

    @media only screen and (max-width: 600px) {

        .nav-wrapper {
            display: none;
        }

        li {
            padding: 0px;
            display: flex;
            justify-content: center;
        }

        li + li:before {
            content: "";
            padding: 0;
        }

        .nav-button {
            border: none;
            background-color: #fcfbf9;
            min-width: 10vw;
            max-width: 10vw;
            min-height: 3rem;
            max-height: 3rem;
        }

        .mobile-wrapper {
            position: fixed;
            top: 0px;
            left: 0px;
            display: flex;
            width: 100vw;
            height: 3rem;
            border-bottom: 1px solid black;
        }

        .open {
            display: flex;
            flex-direction: column;
            min-width: 100vw;
            min-height: 100vh;
            background-color: #fcfbf9;
            opacity: 1;
            transition: opacity 0.6s ease;
        }

        .hide {
            opacity: 0;
            transition: opacity 0.6s ease;
        }
    }
</style>