---
//Import stuff
---
<div class="nav-wrapper">
    <a class="nav-link" href="about">About Me</a>
    <a class="nav-link" href="research">Research</a>
    <a class="nav-link" href="teaching">Teaching</a>
    <a class="nav-link" href="awards">Awards & Honors</a>
    <a class="nav-link" href="CV">CV</a>
    <a class="nav-link" href="">R with Alex</a>
    <a class="nav-link" href="books">Recommended Books</a>
    <a class="nav-link" href="blogs">Blogs</a>
</div>

<style>
    .nav-wrapper {
        flex-direction: row;
    }
    .nav-link {
        color: blue;
    }
</style>